body
{
    background: #008060;
}
.content-body
{
    margin-top: 100px;
}
.search-card
{
    padding: 0px 25px 30px 25px;
    background: white;
    border: transparent 1px solid;
    border-radius: 10px;
}
.sc-header
{
    margin:30px 0;
}
.sch-heading
{
    font-size: 32px;
    text-align: left;
    font-weight: bolder;
}
.sc-body
{
    margin: 30px 0 20px 0;
}
.scb-param input
{
    outline: none;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;
    width: 99%;
}
.scb-param input:focus,.scb-param input:hover
{
    outline: none;
    border: 2px solid #008060;
    border-radius: 4px;
    padding: 9px;
}
.scb-param input:focus::placeholder,.scb-param input:hover::placeholder
{
    color: black;
    opacity: 1;
}
.btnCheck
{
    padding: 10px;
    width: 100%;
    outline:none;
    border-radius: 5px;
    border:1px solid transparent;
    background: #008060;
    color: white;
}
.btnCheck:focus,.btnCheck:hover
{
    background: #006E52;
}
.response-table
{
    padding: 0 25px 10px 25px;
    background: white;
    border: transparent 1px solid;
    border-radius: 10px;
}
.response-table > td
{
    display: inline-block;
}
.Invalid
{
    border: 1px solid red!important;
}
.statusCode
{
    /* border: 2px solid gray;
    border-radius: 50%;
    width: 40px;
    height: 40px; */
    position:relative;
    padding: 10px;
    margin-top: 20px;
}
.sc-counter
{
    position:absolute;
    top: -10px;
    right:-10px;
}